{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block style %}
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/contact.jpg");
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    width: 30rem;
    margin-left: 10rem;
  }
{% endblock style %}

{% block body %}
<div class="container-fluid hero-image px-0 mb-3" >
    <div class="hero-text text-center p-4">
        <h1 class="text-center mb-3 text-light">Contact Us</h1>
        <div class="container mt-2">
            <form method="post" action="/contact">
            {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name" Required>
                    <label for="name">Name</label>
                </div>    
                    
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" Required>
                    <label for="email">Email address</label>
                </div>
                    
                <div class="form-floating mb-3">
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" Required>
                    <label for="phone">Phone Number</label>
                </div>      

                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="desc" rows="3" name="desc" style="height: 100px" Required></textarea>
                    <label for="desc">Tell me about what you want to contact me for...</label>
                </div>        

                <button class="btn btn-lg btn-danger w-100" type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% comment %} <img src="https://source.unsplash.com/1200x450/?phone,telephone" class="d-block w-100 mx-0" alt="..."> {% endcomment %}
</div>

{% endblock body %}